# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Output files
data/output/
*.png
*.pdf
*.svg

# OS files
.DS_Store
Thumbs.db
